[Unit]
Description=Yanyang server status reporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/yanyang-stats.sh
EnvironmentFile=-/etc/yanyang-stats.conf
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
